<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <div class="form-group">

    <p>
      <%= form.label :title %><br>
      <%= form.select :title, Badge::BADGE_TITLES, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :file %><br>
      <%= form.text_field :file, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :rule %><br>
      <%= form.text_field :rule, class: 'from-control' %>
    </p>

    <p>
      <%= form.submit class: 'btn btn-primary'%>
    </p>
  </div>
<% end %>
