<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <h1><%= t('.header') %></h1>

    <% if @user_badges.present? %>

      <h2><%= t('.taken') %></h2>

      <table class="table">
        <%= render @user_badges %>
      </table>
    <% end %>

    <% if @badges.present? %>
      <h2><%= t('.no_taken') %></h2>

      <table class="table">
        <%= render @badges %>
      </table>
    <% end %>

    <%link_to t('navigation.back'), root_path, class: 'nav-link' %>

  </div>
</div>
