<p class="nav logo"><%= link_to 'Test Guru', root_path %></p>
<p class="nav user">
  <% if login_in? %>
    Welcome, <b><%= current_user.email %></b> Guru |
    <%= link_to 'Quit', logout_path %>
  <% else %>
    <%= link_to 'Registration', signup_path %> |
    <%= link_to 'Login', login_path %>
  <% end %>
</p>
