<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Questions:</strong>
</p>

<%= link_to 'New question', new_test_question_path(@test) %>

<table>

  <%= render partial: 'questions/question', collection: @test.questions %>

</table>

<%= link_to 'Edit test', edit_admin_test_path(@test) %> |
<%= link_to 'Delete test',
            admin_test_path(@test),
            method: :delete,
            data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', admin_tests_path %>
