<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.questions') %>:</strong>
</p>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<table>

  <%= render partial: 'admin/questions/question', collection: @test.questions %>

</table>

<%= link_to t('.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.delete'),
            admin_test_path(@test),
            method: :delete,
            data: { confirm: t('navigation.confirm') } %> |
<%= link_to t('navigation.back'), admin_tests_path %>
