<div class="row justify-content-center mt-3">
  <div class="col col-md-10">
    <h1><%= t('.header') %></h1>

    <p>
      <%= link_to t('.badges'), badges_path, class: 'nav-link' %>
    </p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th scope="col"><%= t('.level') %></th>
          <th scope="col"><%= t('.questions') %></th>
          <th scope="col"><%= t('.actions') %></th>
        </tr>
      </thead>

      <%= render @tests %>

    </table>
    <%= link_to t('navigation.feedback'), new_feedback_path, class: 'nav-link' %>
  </div>
</div>
