<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Questions:</strong>
</p>

<table>
  <tr>
    <th>№</th>
    <th>Body</th>
  </tr>

  <%= render 'test_questions' %>

</table>

<%= link_to 'Edit test', edit_test_path(@test) %> |
<%= link_to 'New question', new_test_question_path(@test) %> |
<%= link_to 'Delete test',
            test_path(@test),
            method: :delete,
            data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tests_path %>
